%h1 About Jazz Hands
.row
  .col-md-12
    %p Jazz Hands is a crowdfunding platform that helps those falling on hard times to attain the security to flourish. Showcasing their stories and assurances that others are contributing can a powerful disruptive force for change!
    %p All part of the same community, we encourage Neighbors to Help Neighbors.
.row
  .col-md-12
    %h2 Why focus on housing?
    %p Worrying about basic needs takes a lot of resources away from achieving stability, the ultimate goal of our members.
    %p Homelessness prevention and rapid rehousing helps many families from succumbing to housing or personal crises. Many members are working while homeless; supplementing their income by a small margin can help them secure housing.
.row
  .col-md-12
    %h2 How does it work?
    %p Jazz Hands empowers people and their Partner organizations to share their stories and reach out to their communities for help.
    %p Drawing upon the success of crowdfunding sites like KickStarter or Kiva, Jazz Hands enables campaigns to meet short-term needs along categories of: housing, medical expenses, food, transportation, and more.
    %p Transparency is one of our top priorities. Partner organizations help ensure the money directly and holistically meets Clients' needs, and the crowdfunding model helps donors ensure their money meets the goals in their entirety.
    %p Know that your donations strengthen your community!

%p Find me in app/views/static_pages/about.html.erb
