.row
  .col-md-8
    %header
    %hgroup
      %h1 Jazz Hands
      %h2 Neighbors helping neighbors
    .about
      Jazz Hands provides an easy, secure way to donate to homeless, home insecure, and distressed individuals. We partner with local shelters, outreach, and housing programs to ensure that your donations do the most good, helping to lift people out of homelessness and poverty.
    .discover
      %a.btn.btn-info(href="#")
        Find people that need your help
  .col-md-4
    .flexslider.featured
      %ul.slides
      =render partial: 'clients/frontpage', collection: Client.frontpage, as: :client

= javascript_include_tag "home"
