.row
  .col-md-7
    %header
    %hgroup
      %h1 We are Jazz Hands
      %h2 Neighbors helping neighbors.
    %p.about
      Jazz Hands provides an easy, secure way to donate to homeless, home insecure, and distressed individuals. We partner with local shelters, outreach, and housing programs to ensure that your donations do the most good, helping to lift people out of homelessness and poverty.
    .discover
      %a.btn.btn-lg.btn-info(href="#")
        Help
        %span.badge 72
        Neighbors in Need
  .col-md-5
    .flexslider.featured
      %ul.slides
        %li
          %h3 John
          = image_tag "face1.png", :class => "img-responsive"
          %p
            %em Anything brought into the house. Sweet find something else more interesting. Find something else more.
          %a.btn.btn-info.pull-right(href="#")
            Meet John
        %li
          %h3 Jane
          = image_tag "face2.png", :class => "img-responsive"
          %p
            %em Climb sun bathe, yet intently stare at the same spot so give attitude sleep on keyboard or inspect anything brought into the house.
          %a.btn.btn-info.pull-right(href="#")
            Meet Jane
        %li
          %h3 Jim
          = image_tag "face3.png", :class => "img-responsive"
          %p
            %em Run in circles as chair leave everywhere intently  stretch, or find something else more interesting. Intrigued inspect anything brought into the house mark.
          %a.btn.btn-info.pull-right(href="#")
            Meet Jim

= javascript_include_tag "home"
