<h1>Search</h1>

<form accept-charset="UTF-8" action="/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Search" />
</form>
