t// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.client-photo{
  padding-top: 25px;
}

#client-photo{
  height: 100%;
  width: 300px;
}

.client-info h1{
  font-size: 70px;
}

.updates-list {
  list-style:none;
}

.btn{
  margin-top: 20px;
  margin-left: 80px;
  height: 40px;
  width: 116px;
  font-size: 1px
}

