<!DOCTYPE html>
%html
  %head
  %title Jazz Hands
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  / = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body.container
    %nav{:class => "navbar navbar-default", :role =>"navigation"}
      %div{:class => "container-fluid"}
        %div{:class => "navbar-header"}
          %button{:type => "button", :class => "navbar-toggle", "data-toggle" => "collapse", "data-target" => "navbar-collapse"}
            %span{:class => "sr-only"}Toggle navigation
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
          %a{:class => "navbar-brand"}Jazz Hands
        %div{:class => "collapse navbar-collapse", :id => "navbar-collapse"}
          %ul{:class => "nav navbar-nav"}
            %li
              =link_to 'Home', static_pages_home_path
            %li
              =link_to 'Search', static_pages_search_path
            %li
              =link_to 'About', static_pages_about_path
            %li
              =link_to 'Sign Up', new_user_registration_path
            %li
              =link_to 'Log In', new_user_session_path
    %main
    = yield
    %footer
      %p All rights reserved Jazz Hands. w00t!
